// Fonts
$family-sans-serif: system-ui, -apple-system, "Segoe UI", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica";

// Color
$orange: hsl(14,  100%, 53%) !default;
$yellow: hsl(48,  100%, 67%) !default;
$green: #32d296;
$turquoise: hsl(171, 100%, 41%) !default;
$cyan: hsl(204, 86%,  53%) !default;
$blue: #1e87f0;
$purple: hsl(271, 100%, 71%) !default;
$red: #f0506e;

// Set your colors
$primary: $blue;
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Radius
$radius-small: 1px;
$radius: 1px;
$radius-large: 1px;

// Input
$input-shadow: none;
$input-hover-color: none;
$input-hover-border-color: none;

$input-focus-box-shadow-size: none;
$input-focus-box-shadow-color: none;
